@page
@using PizzariaLibrary.Repositories
@inject IPizzaRepository pizza

@model Pizzaria.Pages.Cardapio.DetailsModel

@{
	string page = HttpContext.Request.Query["page"].ToString();
}

@*<div class="details-information-div">
	<div class="pizza-nome">@Model.Pizza.Id</div>
	<div class="pizza-tipo">@item.Tipo</div>
	<div class="pizza-descricao">@item.Descricao</div>
	<div class="pizza-valor">R$@item.Valor</div>
</div>*@


