@page
@using PizzariaLibrary.Repositories
@inject IPizzaRepository pizza
@model Pizzaria.Pages.Cardapio.DetailsModel

@{

    var item = pizza.Search(1);
}

<div class="details-information-div">
	<div class="pizza-nome">@item.Nome</div>
	<div class="pizza-tipo">@item.Tipo</div>
	<div class="pizza-descricao">@item.Descricao</div>
	<div class="pizza-valor">R$@item.Valor</div>
</div>


