@page
@using PizzariaLibrary.Repositories
@inject IPizzaRepository pizza
@model Pizzaria.Pages.CardapioModel

<div>
	<a asp-page="/Cardapio/Create" class="criar-pizza-button">
		Criar nova pizza
	</a>
</div>


<div class="row" id="cardapio">
	@foreach (var item in pizza.Get())
	{
		<div class="col-md-3" id="pizza-box">
			<div class="pizza-nome">@item.Nome</div>
			<div class="pizza-tipo">@item.Tipo</div>
			<div class="pizza-descricao">@item.Descricao</div>
			<div class="pizza-valor">R$@item.Valor</div>
		</div>
	}
</div>



@{
	
}

