html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin: 0;
}

/* Cardapio */

.cardapio {
    display: flex;
    flex-direction: column;
    border-style: groove;
}

.pizza-information {
    font-size: 2rem;
    font-weight: bold;
}